body {
  background-color: aqua;
  margin: 0 auto;
}
.container {
  width: 400px;
  height: 525px;
  margin: auto auto;
  background-color: blanchedalmond;
  padding-left: 30px;
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: blue;
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  border-radius: 5px;
  border-style: none;
  background-color: blue;
  color: #fff;
  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
}
